{% extends 'base.html.twig' %}

{% block title %} About | {{ parent() }} {% endblock %}

{% block body %}
    <img src="{{ asset('/images/tdn-logo.jpg') }}" alt="TDN logo" width="200px" height="200px" class="my-12 rounded-full shadow-md">

    <h1>Built with <span class="text-pink-500">&hearts;</span> by LES TEACHERS DU NET.</h1>

    <p class="mt-5">
        <a href="{{ path('app_home') }}">Revenir a la page d'accueil</a></p>

{% endblock %}